.AluminumIframe {

}

.AluminumIframe--noBorder .AluminumIframe-frame {
  border-width: 0;
}

.AluminumIframe.AluminumIframe--responsiveWidth .AluminumIframe-frame {
  width: 100%;
}

.AluminumIframe.AluminumIframe--responsiveHeight .AluminumIframe-frame {
  height: 100%;
}
