<ul class="AluminumLinkList">
    {% for link in list %}
        <li class="AluminumLinkList-item">
            <a class="AluminumLinkList-link" href="{{ link.href }}">
              {{ link.title }}
              {%- if link.icon -%}
                <i class="fa fa-{{ link.icon }}"></i>
              {%- endif -%}
            </a>
        </li>
    {% endfor %}
</ul>
